mz-navbar('*ngIf'="identity")
  .nav-wrapper
    a.brand-logo(href="#")
        | {{title}}
    mz-navbar-item-container
        mz-navbar-item(class="right")
            a(id="btn-dropdown-demo" href="#")
                | {{ identity.name }}

            mz-dropdown(
                '[id]'="'userdropdown'"
                '[align]'="'bottom'"
                '[belowOrigin]'="true"
                '[dropdownButtonId]'="'btn-dropdown-demo'"
                '[stopPropagation]'="true"
                '[constrainWidth]'="false"
            )
                mz-dropdown-item
                    a(href="#!")
                        | My Account
                mz-dropdown-item
                    a(href="#!")
                        | Settings
                mz-dropdown-divider
                mz-dropdown-item
                    a(
                        href="#!"
                        '(click)'="onLogout()"
                    )
                        | Log Out



div('*ngIf'="identity")
  p
    | Logged


.row('*ngIf'="!identity")
    .col.s6
        h5
            | Sign In
        form.col.s12(
            '#loginForm'="ngForm"
            '(ngSubmit)'="onSignIn()"
        )

            mz-input-container
                input( 
                    'mz-input'
                    'label'="Email"
                    'required'
                    'type'="email"
                    'validate'="true"
                    'dataError'="Email is not valid."
                    '#email'="ngModel"
                    'name'="email"
                    '[(ngModel)]'="user.email"
                )

            mz-input-container
                input(
                    'mz-input'
                    'label'="Password"
                    'required'
                    'type'="password"
                    'validate'="true"
                    'dataError'="Password is not valid."
                    '#password'="ngModel"
                    'name'="password"
                    '[(ngModel)]'="user.password"
                )

            button(
                mz-button
            )
                | Sign In

    .col.s6
        h5
            | Sign Up

        form.col.s12(
            '#loginForm'="ngForm"
            '(ngSubmit)'="onSignUp()"
        )
            .input-field.col.s12
                input( 
                    'mz-input'
                    'label'="Name"
                    'required'
                    'type'="text"
                    'validate'="true"
                    'dataError'="Name is not valid."
                    'name'="name"
                    '[(ngModel)]'="userSignUp.name"
                )

            .input-field.col.s12
                input( 
                    'mz-input'
                    'label'="Surname"
                    'required'
                    'type'="text"
                    'validate'="true"
                    'dataError'="Surname is not valid."
                    'name'="surname"
                    '[(ngModel)]'="userSignUp.surname"
                )

            .input-field.col.s12
                input( 
                    'mz-input'
                    'label'="Email"
                    'required'
                    'type'="email"
                    'validate'="true"
                    'dataError'="Email is not valid."
                    'name'="email"
                    '[(ngModel)]'="userSignUp.email"
                )

            .input-field.col.s12
                input(
                    'mz-input'
                    'label'="Password"
                    'required'
                    'type'="password"
                    'validate'="true"
                    'dataError'="Password is not valid."
                    'name'="password"
                    '[(ngModel)]'="userSignUp.password"
                )

            button(
                mz-button
            )
                | Sign Up
