.row
    .col.s4 &nbsp;
    .col.s4
        h5
            | Sign In
        form.col.s12(
            '#loginForm'="ngForm"
            '(ngSubmit)'="onSignIn()"
        )

            mz-input-container
                input( 
                    'mz-input'
                    'label'="Email"
                    'required'
                    'type'="email"
                    'validate'="true"
                    'dataError'="Email is not valid."
                    '#email'="ngModel"
                    'name'="email"
                    '[(ngModel)]'="user.email"
                )

            mz-input-container
                input(
                    'mz-input'
                    'label'="Password"
                    'required'
                    'type'="password"
                    'validate'="true"
                    'dataError'="Password is not valid."
                    '#password'="ngModel"
                    'name'="password"
                    '[(ngModel)]'="user.password"
                )

            button(
                mz-button
            )
                | Sign In
    .col.s4 &nbsp;