.row
    .col.s6
        h5
            | Sign Up

        form.col.s12(
            '#loginForm'="ngForm"
            '(ngSubmit)'="onSignUp()"
        )
            .input-field.col.s12
                input( 
                    'mz-input'
                    'label'="Name"
                    'required'
                    'type'="text"
                    'validate'="true"
                    'dataError'="Name is not valid."
                    'name'="name"
                    '[(ngModel)]'="userSignUp.name"
                )

            .input-field.col.s12
                input( 
                    'mz-input'
                    'label'="Surname"
                    'required'
                    'type'="text"
                    'validate'="true"
                    'dataError'="Surname is not valid."
                    'name'="surname"
                    '[(ngModel)]'="userSignUp.surname"
                )

            .input-field.col.s12
                input( 
                    'mz-input'
                    'label'="Email"
                    'required'
                    'type'="email"
                    'validate'="true"
                    'dataError'="Email is not valid."
                    'name'="email"
                    '[(ngModel)]'="userSignUp.email"
                )

            .input-field.col.s12
                input(
                    'mz-input'
                    'label'="Password"
                    'required'
                    'type'="password"
                    'validate'="true"
                    'dataError'="Password is not valid."
                    'name'="password"
                    '[(ngModel)]'="userSignUp.password"
                )

            button(
                mz-button
            )
                | Sign Up
